<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu portfólio</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>
<body>

    <header>

        <h1>Portfólio</h1>

        <nav>

            <a href="#home">home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#contact">Contact</a>

        </nav>

    </header>

    <!-- home section -->
    <section class="home" id="home">

        <div class="home-content">

            <h1>Hello, I'm Leonardo Henrique, a <strong class="tools">Full Stack</strong> Developer.</h1>
            
            <p>I'm Leonardo Henrique, a <strong class="tools">Full Stack</strong> Developer skilled in front-end and back-end technologies. I also work with <strong class="tools">Python</strong> for automation, databases like <strong class="tools">MySQL</strong> and <strong class="tools">MongoDB</strong>, and cloud platforms such as <strong class="tools">AWS</strong>. I'm passionate about solving problems and creating innovative, user-friendly digital solutions.</p>

            <div class="links">
                
                <a href="https://github.com/LeonardoHenriqueFR01" target="_blank">
                    <img src="../static/imagens/git.png" alt="Logo GitHub">
                </a>
                
                <a href="https://www.instagram.com/leozindev_genius/" target="_blank">
                    <img src="../static/imagens/insta.png" alt="Logo Instagram">
                </a>
                
                <a href="https://www.linkedin.com/in/leonardo-henrique-a87b89340/" target="_blank">
                    <img src="../static/imagens/linkd.png" alt="Logo LinKedin">
                </a>
                
                <a href="#" target="_blank">
                    <img src="../static/imagens/yt.png" alt="Logo YouTube">
                </a>
            
            </div>

        </div>

        <img src="../static/imagens/ft_perfil.jpg"  alt="foto de perfil">

    </section>

    <section class="section-about" id="about">
        
        <div class="about-content">
            
            <p>I am a <strong class="tools">Full-Stack</strong> Developer with expertise in <strong class="tools">HTML</strong>, <strong class="tools">CSS</strong>, <strong class="tools">JavaScript</strong>, and <strong class="tools">Python</strong> for <strong class="tools">Back-End</strong> development. I create responsive websites and applications using frameworks like <strong class="tools">Bootstrap</strong> and <strong class="tools">React</strong>, and tools like <strong class="tools">Git</strong> for version control. My focus is on solving problems and developing innovative, functional projects.</p>

        </div>

        <div class="links-project">

            <p>Check out my projects in the portfolio!</p>

        </div>


    </section>

    <sectionc class="section-services" id="services">

        <h1>Services</h1>

        <div class="services-content">

            <ul>
                
                <li>Website creation</li>
                <li>Web Application Development</li>
                <li>Process Automation</li>
                <li>Maintenance and Technical Support</li>
                <li>Consulting for Web Projects</li>
                <li>Improving Accessibility on Websites</li>
                <li>Prototype Creation</li>
                <li>Basic Programming Training</li>

            </ul>

            <a href="#contact">
                <button>Get in touch</button>
            </a>

        </div>

    </section>

    <section class="section-contact" id="contact">

        <h1>Contact</h1>

        <div class="contact-content">

            <form action="mailto:seu-email@example.com" method="post" enctype="text/plain">
            
                <label for="name">Your name</label>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
              
                <label for="email">Your email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
              
                <label for="service">Type of service</label>
                <input type="text" id="service" name="service" placeholder="Ex: website creation" required>
              
                <label for="message">Description or Details</label>
                <textarea id="message" name="message" rows="4" placeholder="Describe what you need" required></textarea>
              
                <button type="submit">To send</button>
            
            </form>

        </div>

    </section>
    
</body>

<script src="../static/js/cript.js"></script>

</html>