<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu portfólio</title>
    <link rel="stylesheet" href="/Portfolio/static/css/style.css">
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>
<body>

    <header>

        <h1>Portfolio</h1>

        <nav>

            <a href="#home">home</a>
            <a href="#services">Services</a>
            <a href="#portfolio">Portfólio</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>

        </nav>

    </header>

    <!-- home section -->
    <section class="home" id="home">

        <div class="home-content">

            <h1>Hello, I'm Leonardo Henrique, a <strong class="tools">Full Stack</strong> Developer.</h1>
            
            <p>I'm Leonardo Henrique, a <strong class="tools">Full Stack</strong> Developer skilled in front-end and back-end technologies. I also work with <strong class="tools">Python</strong> for automation, databases like <strong class="tools">MySQL</strong> and <strong class="tools">MongoDB</strong>, and cloud platforms such as <strong class="tools">AWS</strong>. I'm passionate about solving problems and creating innovative, user-friendly digital solutions.</p>

            <div class="links">
                
                <a href="#">
                    <img src="/Portfolio/static/imagens/github.png" alt="Logo GitHub">
                </a>
                
                <a href="#">
                    <img src="/Portfolio/static/imagens/instagram.png" alt="Logo Instagram">
                </a>
                
                <a href="#">
                    <img src="/Portfolio/static/imagens/linkedin.png" alt="Logo LinKedin">
                </a>
                
                <a href="#">
                    <img src="/Portfolio/static/imagens/youtube.png" alt="Logo YouTube">
                </a>
            
            </div>

        </div>

        <img src="/Portfolio/static/imagens/user.png" alt="foto de perfil">

    </section>
    
</body>

<script src="/Portfolio/static/js/cript.js"></script>

</html>