<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger-Shop</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    
    <header>
    
        <div>
    
            <img src="/burger-shop/static/imagens/hamburguer.png" alt="Logo">
            <h1><strong class="burger">Burger</strong>Forge</h1>
    
        </div>

        <nav>
    
            <a href="#home" class="home">Home</a>
            <a href="#about">About us</a>
            <a href="#menu">Menu</a>
            <a href="#contact">Contact</a>
    
        </nav>

        <button>Log In / Sign Up</button>
    
    </header>

    <main>
        
        <section class="section-home" id="#home">
        
            <section class="section-home-info">
            
                <h1>SAVOR THE <strong class="flavor">FLAVOR</strong> <br> BITE BY BITE</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio quas, ipsum vero itaque perspiciatis, et repellat nobis excepturi autem eveniet optio aperiam, ex blanditiis. Possimus cum maxime reprehenderit quidem nobis.</p>
            
                <div>
            
                    <button class="order-now">ORDER NOW</button>
                    <button class="process-order">How to process order</button>
            
                </div>
            
            </section>

            <img src="/burger-shop/static/imagens/foto-burger.png" width="600px" alt="foto de hamburger">
        
        </section>

        <section class="section-about" id="#about">

            <img src="/burger-shop/static/imagens/foto-burger-about.jpg" alt="foto de um hamburger">

            <div class="section-about-info">

                <h1>Why Chosse Our <strong class="food">Food</strong></h1>

                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt ullam voluptatibus omnis laudantium laborum autem aperiam aut ut, odio minus eius sapiente suscipit consectetur ea non, blanditiis vero, reiciendis atque!</p>

                <button>Read More</button>

            </div>

            
        </section>

    </main>

</body>
</html>