<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Produto</title>
    <link rel="stylesheet" href="/pagina-produto/static/style.css">
</head>
<body>
    <div class="container">
            
        <div class="content">
            
            <h1>PERFUME</h1>
            
            <p>Discover captivating fragrances that define your style. <br> Elegance in every spray.</p>
                      
            <div class="column1">

                <div class="img1-column1">
                    
                    <img src="/pagina-produto/static/foto-01.jpg" width="130px" height="140px" alt="foto de perfume">
                
                </div>

                <div class="img2-column1">

                    <img src="/pagina-produto/static/foto-02.jpg" width="130px" height="140px" alt="">
                    
                </div>
            
            </div>

            <div class="column2">

                <div class="img1-column2">
                    
                    <img src="/pagina-produto/static/foto-03.jpg" width="130px" height="140px" alt="foto de perfume">
                
                </div>

                <div class="img2-column2">

                    <img src="/pagina-produto/static/foto-04.jpg" width="130px" height="140px" alt="">

                </div>
            
            </div>
        
        </div>

    </div>

</body>
</html>