<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Site</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
    
        <section class="section-01">

            <h1 class="title">COMECE A LUCRAR DE VERDADE!</h1>

            <h1>Tenha acesso à Metodologia  que  já  movimentou + de 100 Milhões  Em empresas, que começaram do zero e foram expandindo em Faturamento e o mais importante EM LUCRO!</h1>

            <div class="time">
            
                <p>A inscrição encerrara á qualquer momento!</p>
                
                <!-- Cronômetro -->
                <div class="countdown" id="countdown"></div>
            
                <div class="countdown-text" id="countdown-text"></div>
            
            </div>

        </section>

        <section class="section-txt">
            
            <article>
            
                <h1>Descubra como criar negócios físicos lucrativos com a metodologia FSM</h1>
            
                <p>Você já sonhou em ter um negócio físico que realmente dá lucro, mas se sente perdido em meio a tantos desafios? Seja a falta de experiência, dificuldade para atrair clientes ou a frustração de investir em algo que não gera retorno, essas dores são comuns a muitos empreendedores. Mas existe um caminho para mudar isso.</p>
            
                <p>A metodologia FSM, criada por um expert com mais de 13 anos de experiência e um histórico comprovado de franquias de sucesso, é a solução que você precisa. Essa estratégia foi projetada para transformar negócios físicos em verdadeiras máquinas de lucro, eliminando erros comuns e acelerando resultados.</p>
            
                <p>Imagine ter um modelo testado e aprovado, que não só atrai clientes, mas fideliza e multiplica suas vendas. Com a FSM, você aprende como criar processos eficientes, reduzir custos desnecessários e estruturar seu negócio para crescer de forma sustentável.</p>
            
                <p>Chegou a hora de transformar seus sonhos em realidade. Saia da incerteza e dê o próximo passo para o sucesso com a metodologia FSM. O futuro do seu negócio começa agora!</p>
            
            </article>

        </section>

        <section class="section-02">

            <img src="../static/imagens/foto-01.png" alt="foto-fundador">

            <h1>Após criar negócios milionários...</h1>

        </section>

        <section class="section-03">

            <h1>DECIDI REVELAR O <strong>MÉTODO FSM</strong> PARA ALGUNS EMPRESÁRIOS</h1>

            <img src="../static/imagens/pessoas.webp" alt="foto de pessoas">

            <h1>Empresários de Sucesso Compatilham Seus Resultados com a Metodologia FSM</h1>

            <iframe src="https://www.youtube.com/embed/TdUYphwakfI?si=yi4NPnZnrV89H2Nz" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <h1 class="bonus">#1 - bônus exclusivo para você!</h1>

        </section>

        <section class="section-04">
        
            <article>

                <h1>VOU TE ENTREGAR O MANUAL DO CAIXA RÁPIDO, <br> RECUPERE O VALOR INVESTIDO EM 5X MAIS</h1>
            
                <h1>O QUE VOCÊ VAI APRENDER:</h1>
            
            </article>
        
            <div class="colums-txt">
                <div class="column">
                    <div class="box">Caixa 1</div>
                    <div class="box">Caixa 2</div>
                    <div class="box">Caixa 3</div>
                </div>
                <div class="column">
                    <div class="box">Caixa 4</div>
                    <div class="box">Caixa 5</div>
                    <div class="box">Caixa 6</div>
                </div>
            </div>

            <a href="#">
                <button>COMPRAR AGORA</button>
            </a>
        
        </section>
        
        <section class="section-05">

            <img src="../static/imagens/garantia.png" alt="foto de garantia">

            <article>
                
                <h1>Garantia total: 7 dias para mudar sua estratégia de marketing sem riscos.</h1>

                <p>Milhares de pessoas comuns como vocês estão mudando suas realidades com o poder do FSM. Isso significa que você também pode mudar a sua vida para melhor.</p>

                <h2>Mas caso não goste do que encontrar, devolvo seu dinheiro de volta sem perguntas até 7 dias após a compra.</h2>

            </article>

        </section>

    </main>

    <footer>
    
        <h1>MÉTODO FSMCopyright &copy;</h1>
        
        <p>Todos os direitos reservados.</p>
    
        <p>Política de Privacidade | Termos de Uso</p>

    </footer>

    <script src="../static/script.js"></script>
</body>
</html>
