* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --pricipal-color: #e4ae1cd2;
}

header {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(48, 46, 46);
    padding: 1em;
    position: fixed;
}

header > h1 {
    color: var(--pricipal-color);
    font-size: 3em;
}

.links > a {
    padding: 1em;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
}

.links > a:hover {
    transition: .8s;
    color: var(--pricipal-color);
}

header > .btn-reserve {
    padding: 1em;
    font-size: 1.3em;
    border-radius: 10px;
    font-weight: bold;
    background-color: var(--pricipal-color);
    border: none;
    cursor: pointer;
}

header > .btn-reserve:hover {
    transition: .8s;
    background-color: #fff;
}

main > .section-img-fundo {
    background-image: url(../Restaurant/imagens/foto-fundo-restaurant.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.info-img-fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.info-img-fundo > h1 {
    color: #fff;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6em;
    margin-bottom: 10px;
}

.info-img-fundo > p {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.5em;
}

.btn-view-menu {
    padding: 1em;
    font-size: 1.5em;
    border-radius: 10px;
    border: 2px solid #fff;
    background-color: transparent;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
}

.btn-view-menu:hover {
    transition: .8s;
    color: #0000008f;
    background-color: #fff;
}

.section-two {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3em;
    height: 50vh;
}

.section-two > img {
    border-radius: 15px;
    width: 500px;
}

.info-section-two {
    padding: 2em;
    margin-bottom: 20px;
}

.info-section-two > h1 {
    margin-bottom: 15px;
    font-size: 4em;
}

.info-section-two > p {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.read-more {
    padding: 1em;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
    color: #000;
    background-color: transparent;
    cursor: pointer;
}

.read-more:hover {
    transition: .8s;
    color: #fff;
    background-color: #000;
}

@media (max-width: 786px) {
    
    .links {
        padding: 1em;
    }
    
    .links > a {
        flex: auto;
    }

    header {
        position: relative;
    }

    header > .btn-reserve {
        display: none;
    }

    .section-two {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 20px;
    }

    .section-two > img {
       width: 440px; 
        
    }

    .info-section-two > p {
        font-size: 1.5em;
        text-align: justify;
    }
}