
@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --first-color: #0a152f; /* Cor do Header */
    --second-color: #15dceb; /* Cor para efeitos */
    --third-color: #063963; /* Cor para o About */
    --fourth-color: #032847; /* Cor do Body */
}

body {
    background-color: var(--fourth-color);
}

header {
    background-color: var(--first-color);
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header > h1 {
    color: #ffffff;
    font-size: 1.7em;
}

header > nav > a {
    text-decoration: none;
    color: #ffffff;
    margin-right: 20px;
    font-size: 1.2em;
}

header > nav > a:hover {
    transition: 0.8s;
    text-decoration: underline;
    color: var(--second-color);
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    height: 100vh;
    padding: 2em;
}


.home {
    flex-wrap: wrap-reverse;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.home > img {
    width: 250px;
    height: 270px;
    margin-right: 20px;
    border-radius: 50vh;
    padding: 0.5em;
    margin-left: 15px;
    cursor: pointer;
    box-shadow: 1px 3px 8px var(--second-color);
    margin-top: 20px;
} 

.tools {
    color: var(--second-color);
}

.home-content > h1 {
    font-size: 2em;
    color: #ffffff;
    margin-bottom: 10px;
}

.home-content > p {
    font-size: 1.2em;
    color: #ffffff;
    margin-bottom: 10px;
}


.home-content > .links > a > img {
    width: 25px;
    margin-right: 20px;
    padding: .2em;
    border-radius: 10px;
}

.home-content > .links > a > img:hover {
    transition: 0.8s;
    background-color: var(--second-color);
}

.section-about {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    height: 100vh;
    background-color: var(--third-color);
    padding: 2em;
}

.about-content {
    max-width: 400px;
}

.about-content > p {
    color: #ffffff;
    font-size: 1.2em;
}

.links-project {
    flex-direction: column;
    align-items: center;
}

.links-project > p {
    color: #ffffff;
    font-size: 1.2em;
}

.section-services > h1 {
    text-align: center;
    font-size: 2.5em;
    color: #ffffff;
    margin-top: 50px;
}

.services-content {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.services-content > a > button {
    padding: 0.5em;
    font-size: 1.2em;
    box-shadow: 1px 3px 15px var(--second-color);
    color: var(--first-color);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.services-content > a > button:hover {
    transition: 2s;
    background-color: var(--second-color);
}


.services-content > ul > li {
    margin-left: 20px;
    margin-bottom: 5px;
    color: #ffffff;
    font-size: 1.2em;

}

.section-contact {
    background-color: var(--third-color);
}

.section-contact > h1 {
    text-align: center;
    color: #ffffff;
    font-size: 2.5em;
    display: flex;
    justify-content: center;
}

.contact-content > form {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.contact-content > form > label {
    color: #ffffff;
    margin-bottom: 5px;
}


.contact-content > form > input {
    width: 50vh;
    margin-bottom: 20px;
    padding: 0.5em;
    font-size: 1em;
}

.contact-content > form > textarea {
    width: 50vh;
    height: 50px;
    padding: 0.5em;
    font-size: 1em;
}

.contact-content > form > button {
    margin-top: 20px;
    width: 20vh;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: var(--first-color);
    box-shadow: 1px 3px 12px var(--second-color);
}

.contact-content > form > button:hover {
    transition: 2s;
    background-color: var(--second-color);
}


@media (max-width: 768px) {
    header > h1 {   
        margin-bottom: 7px;
    }
    header {
        flex-direction: column;
        padding: 1.3em;
    }

    .home-content {
        height: 300px;
    }

}