<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI-brief</title>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>

    <header>
        <div class="logo">
            <a href="#home">
                <img src="../static/imagens/logo.png" alt="logo">
                <h1>AI-brief</h1>
            </a>
        </div>

        <div class="links">
            <a href="#home">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="#contact">Contact Us</a>
        </div>

    </header>

    <main>

        <section class="section-home" id="home">

            <h1>Artificial Intelligence</h1>
            
            <h2>For Ai</h2>

            <p>Empowering creativity and efficiency, AI transforms ideas into reality.</p>

        </section>

        <section class="section-about" id="about">

            <div class="section-about-info">
            
                <h1>About Our AI</h1>
            
                <article>
            
                    <h2>Simplify Content, Amplify Knowledge</h2>
            
                    <p>Our AI efficiently summarizes YouTube videos by extracting the most important information, saving you time and providing clear insights. Whether you're a student, professional, or simply curious, it helps you absorb key content quickly. Fast, reliable, and perfect for anyone seeking a more efficient way to learn.</p>
            
                </article>
            
            </div>


        </section>


        <section class="section-services" id="services">

            <h1>Services</h1>

            <div class="services-box">

                <div class="box">

                    <img src="../static/imagens/box-video.png" width="70px" alt="imagem-icone-video">

                    <h2>Vídeo Summarization</h2>

                    <p>Transform long YouTube videos into short, concise summaries. Get the key points without spending hours watching, saving you time and effort.</p>

                </div>

                <div class="box">

                    <img src="../static/imagens/box-insight.png" width="70px" alt="imagem-icone-aprendizado">

                    <h2>Content Insights</h2>

                    <p>Extract meaningful insights from any video. Whether it's an educational lecture or a trending topic, our AI highlights the most relevant information for you.</p>

                </div>

                <div class="box">

                    <img src="../static/imagens/box-aprendizado.png" width="70px" alt="imagem-icone-aprendizado">

                    <h2>Adpative Learning</h2>

                    <p>Customize the way you learn. Choose the depth of summaries, focus on specific topics, or explore recommendations for related content.</p>

                </div>

            </div>


        </section>

        <section class="section-contact" id="contact">

            <h1>Contact Us</h1>

            <form action="#" method="post">

                <label for="email">Email:</label>
                <input type="email" id="email" required placeholder="Enter your email">

                <label for="assunto">Subject:</label>
                <textarea id="assunto" placeholder="Describe here"></textarea>

                <button>Send</button>
            
            </form>

        </section>

    </main>

    <footer>

    </footer>

</body>

</html>