* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --primary-color: #ff9306;
    --secundary-color: #ffff00;
    --hover-color: #c57204;
}

body {
    background: linear-gradient(to right, #fff, var(--primary-color));
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
    width: 100vw;
    position: fixed;
}
header > div {
    display: flex;
    align-items: center;
}

header > div > img {
    width: 50px;
    margin-right: 7px;
}

header > div > h1 > .burger {
    color: green;
    font-weight: bold;
    margin-right: 5px;
}

header > div > h1 {
    font-size: 3em;
    font-weight: bold;
    color: var(--primary-color);
}

header > nav > .home {
    color: var(--primary-color);
    text-decoration: underline;
}

header > nav > .home:hover {
    transition: .8s;
    color: var(--secundary-color);
}

header > nav > a {
    font-size: 1.7em;
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
    color: #000000;
}

header > nav a:hover {
    transition: .8s;
    color: #ffffff;
    text-decoration: underline;
}

header > button {
    font-size: 1.4em;
    font-weight: bold;
    padding: 1em;
    border-radius: 10px;
    cursor: pointer;
}

header > button:hover {
    transition: 0.8s;
    background-color: var(--hover-color);
    color: #ffffff;
}

main > .section-home {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main > .section-home > .section-home-info {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5em;
} 

main > .section-home > .section-home-info > h1 {
    font-size: 4em;
    font-weight: bolder;
}

main > .section-home > .section-home-info > h1 > .flavor {
    color: var(--primary-color);
}

main > .section-home > .section-home-info > p {
    font-size: 1.7em;
    max-width: 500px;
    margin-top: 10px;
    margin-bottom: 20px;
}

main > .section-home > .section-home-info > div > .order-now {
    padding: 1em;
    font-size: 1.3em;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: var(--primary-color);
    cursor: pointer;
    margin-right: 15px;
}

main > .section-home > .section-home-info > div > .order-now:hover {
    transition: .8s;
    background-color: var(--hover-color);
}

main > .section-home > .section-home-info > div > .process-order {
    padding: 1em;
    font-size: 1.3em;
    background-color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
}

main > .section-home > .section-home-info > div > .process-order:hover {
    transition: .8s;
    background-color: var(--hover-color);
    color: #ffffff;
}

.section-about {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6em;
}

.section-about > img {
    border-radius: 10px;
}

.section-about > .section-about-info {
    flex-direction: column;
    padding: 4em;
    max-width: 700px;
    background-color: #dddddd28;
}

.section-about > .section-about-info > h1 {
    font-size: 4em;
    margin-bottom: 10px;
}

.section-about > .section-about-info > h1 > .food {
    color: var(--primary-color);
}

.section-about > .section-about-info > p {
    font-size: 2em;
    margin-bottom: 20px;
}

.section-about > .section-about-info > button {
    padding: 1em;
    font-size: 1.5em;
    font-weight: bolder;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    background-color: var(--primary-color);
    cursor: pointer;
}

.section-about > .section-about-info > button:hover {
    transition: .8s;
    background-color: #c57204;
}

@media (max-width: 786px) {
    
    header {
        flex-direction: column;
        position: relative;
        width: 100vw;
    }

    header > nav {
        padding: 1em;
    }

    header > button {
        display: none;
    }

    .section-home {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .section-home-info {
        margin-top: 50px;
    }

    .section-home > img {
        width: 400px;
    }

    .section-about {
        padding: 1em;
        flex-wrap: wrap-reverse;
    }

    .section-about > img {
        width: 350px;
    }

    .section-about-info {
        max-width: 500px;
    }

    .section-about-info > p {
        margin-top: 15px;
        margin-bottom: 20px;
        text-align: justify;
    }

}